<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'frontend/style.css' %}">
    <title>AboutMe</title>
</head>
<body>
    <a href="#">ShareFood</a>
    <a href="#">ShareItems</a>
    <a href="#">ShareSkills</a>
    <a href="#">Events</a>
    <a href="#">Orgs</a>
    <a href="#">Account</a>
    {% block content %}
    {% endblock content %}
</body>
</html>