<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'frontend/style.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <title>AboutMe</title>
    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v2.14.1/mapbox-gl.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v2.14.1/mapbox-gl.css' rel='stylesheet' />
</head>
<body id="body">
    <div id='plama'></div>
    <div id="container">
        <div id="nav">
            <div class="nav_side">
                <a href="{% url 'sharefood' %}" class="{% block sharefood %}{% endblock sharefood %}">Żywność</a>
                <a href="{% url 'shareitems' %}" class="{% block shareitems %}{% endblock shareitems %}">Przedmioty</a>
                <a href="{% url 'shareskills' %}" class="{% block shareskills %}{% endblock shareskills %}">Umiejętności</a>
            </div>
            <a href="{% url 'index' %}">
            <div id="logo_div">
                <img class="logo" src="{% static 'frontend/logo.jpg' %}" alt="">
                <span class="f">AroundMe</span>
            </div>
            </a>
            <div class="nav_side">
                <a href="{% url 'events' %}" class="{% block events %}{% endblock events %}">Wydarzenia</a>
                <a href="{% url 'fundacje' %}" class="{% block fundacje %}{% endblock fundacje %}">Organizacje</a>
                {% if  user.is_authenticated %}
                <a href="{% url 'account' %}" class="outlineborder{% block account %}{% endblock account %}">Moje konto</a>
                {% else %}
                <a href="{% url 'login' %}" class="outlineborder{% block login %}{% endblock login %}">Login</a>
                {% endif %}
            </div>
        </div>
        {% block content %}
        {% endblock content %}
    </div>
    <div id="footer">
        <div class="footer_text">
            Drużyna: Szukamy Pracy - @2023 AroundMe
        </div>
    </div>
</body>
</html>