{% extends 'frontend/base.html' %}
{% block events %}
active
{% endblock %}
{% block content %}

<div id="share-container">
Wydarzenia
<div id='map'></div>
    <script>
    // The value for 'accessToken' begins with 'pk...'
    mapboxgl.accessToken = 'pk.eyJ1IjoiZmlsaXB0ZXN0IiwiYSI6ImNrd3V5NGg1dTF1c3UydHFvN3c2aWlteWkifQ.nNJT6_rY_loc_Wa_s01wSQ'; 
    const map = new mapboxgl.Map({
      container: 'map',
      // Replace YOUR_STYLE_URL with your style URL.
      style: 'mapbox://styles/mapbox/streets-v12', 
      center: [17.0385, 51.1079],
      zoom: 10.5
    });
    var geolocate = new mapboxgl.GeolocateControl({
        positionOptions: {
            enableHighAccuracy: true
        },
        trackUserLocation: true
    });

    
    map.addControl(geolocate);
    setTimeout(function() {
    $(".mapboxgl-ctrl-geolocate").click();
},1000);

    var marker = new mapboxgl.Marker()
    .setLngLat([17.0385, 51.1089]) 
    .addTo(map);
    var marker = new mapboxgl.Marker()
    .setLngLat([17.0389, 51.106]) 
    .addTo(map); 
    var marker = new mapboxgl.Marker()
    .setLngLat([17.049, 51.106]) 
    .addTo(map); 
    var marker = new mapboxgl.Marker()
    .setLngLat([17.059, 51.116]) 
    .addTo(map); 
    </script>
</div>  
{% endblock content %}