{% extends 'frontend/base.html' %}
{% block events %}
active
{% endblock %}
{% block content %}
<form method="post" id="update-food" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="main_button">Submit</button>
</form>
<script>
    // Aktualizowanie zlecenia
  $("#update-food").submit(function (e) {
    e.preventDefault();

    // Dodawanie wartości
    var form_data = new FormData();
    csrf_token = $('input[name="csrfmiddlewaretoken"]').val();
    form_data.append("csrfmiddlewaretoken", csrf_token);
    form_data.append("food_name", $("#id_food_name").val());
    form_data.append("food_description", $("#id_food_description").val());
    form_data.append("food_image", $("#id_food_image").val());
    form_data.append("food_id", "{{food_id}}");

   
    // Wysyłanie wartości
    $.ajax({
      url: "/AjaxUpdateFood",
      cache: false,
      contentType: false,
      processData: false,
      data: form_data,
      type: "POST",
      success: function (response) {
        window.location.reload();
      },
      error: function (xhr, textStatus, errorThrown) {
        console.log("Wystąpił błąd podczas aktualizowania zlecenia.");
        console.log("Status: " + textStatus);
        console.log("Błąd: " + errorThrown);
      },
    });
  });

</script>
{% endblock content %}