{% extends 'frontend/base.html' %}
{% block fundacje %}
active
{% endblock %}
{% block content %}
<div id="org-container">
    <div class="org-inner">
        <h3>Fundacje</h3>
        <a class="main_button" href="{% url 'organizacja_form' %}">Dodaj swoją organizacje</a>
    </div>
    {% if twoje_organizacje %}
    <h3>Moje fundacje</h3>
    {% endif %}
    <div>
    {% for org in twoje_organizacje %}
        <div class="found_card">
            <div class="img-card-container">
                {% if org.logo %}
                <img src="{{ org.logo.url }}" alt="">
                {% endif %}
            </div>
            {{ org.nazwa }}
        </div>  
    {% endfor %}
    </div>
    <h3>Fundacje biorące udział w projekcie</h3>
    <div>
    {% for org in inne_organizacje %}
    <div class="found_card">
        <div class="img-card-container">
            {% if org.logo %}
            <img src="{{ org.logo.url }}" alt="">
            {% endif %}
        </div>
        {{ org.nazwa }}
    </div>  
    {% endfor %}
    </div>
   
</div>
{% endblock content %}

default_card .img-card-container img