{% extends 'frontend/base.html' %}
{% load static %}
{% block shareskills %}
active
{% endblock %}

{% block content %}

<div id="share-container">
{% if rola %}
{% if rola == 'WOLONTARIUSZ' %}
<h3>Udostępnij swoje usługi</h3>

<form method="post" id="create-skills" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="main_button">Dodaj</button>
</form>
<div id='map_form'></div>
    <script>
    mapboxgl.accessToken = 'pk.eyJ1IjoiZmlsaXB0ZXN0IiwiYSI6ImNrd3V5NGg1dTF1c3UydHFvN3c2aWlteWkifQ.nNJT6_rY_loc_Wa_s01wSQ'; 
    const map = new mapboxgl.Map({
      container: 'map_form',
      style: 'mapbox://styles/mapbox/streets-v12', 
      center: [17.0385, 51.1079],
      zoom: 10.5
    });
    var geolocate = new mapboxgl.GeolocateControl({
        positionOptions: {
            enableHighAccuracy: true
        },
        trackUserLocation: true
    });
    
    
    map.addControl(geolocate);
    setTimeout(function() {
    $(".mapboxgl-ctrl-geolocate").click();
},1000);
</script>
{% if dodane_uslugi %}
    <h3 class="mt6">Moje oferowane usługi</h3>
{% else %}
  <h3 class="mt6">Udostępnij swoje usługi już teraz, odkryj magie pomagania</h3>
{% endif %}
    <div class="default_card_wrapper">
    {% for dod in dodane_uslugi %}
        <div class="default_card">
            <div class="img-card-container">
                {% if dod.service_image %}
                <img src="{{ dod.service_image.url }}" alt="">
                {% else %}
                <img src="{% static 'frontend/rzepa.jpg' %}" alt="">
                {% endif %}
            </div>
            <div class="cardtext">{{dod.item_name}}</div>
        </div>
    {% endfor %}
</div>
{% else %}
<div class="potrzebujacy-cont">
  <h3 class="mt10">Dostępne usługi</h3>
  {% for dod in usluga %}
    <div class="default_card">
        <div class="img-card-container">
            {% if dod.item_image %}
            <img src="{{ dod.item_image.url }}" alt="">
            {% else %}
            <img src="{% static 'frontend/rzepa.jpg' %}" alt="">
            {% endif %}
        </div>
        <div class="cardtext">{{dod.item_name}}</div>
    </div>
  {% endfor %}
  </div>
{% endif %}
{% endif %}

<script>
    $(document).on('submit','#create-skills',function(e){
    e.preventDefault();

    var form_data = new FormData();

    var fileInput = $('#id_service_image')[0];
    var file = fileInput.files[0];

    csrf_token = $('input[name="csrfmiddlewaretoken"]').val();      
    form_data.append("csrfmiddlewaretoken", csrf_token);
    form_data.append("service_name", $('#id_service_name').val());
    form_data.append("service_description", $('#id_service_description').val());
    form_data.append("service_price", $('#id_service_price').val());
    form_data.append("service_image", file);

    // Wysyłanie plików
    $.ajax({
      url: '/AjaxCreateSkill',
      dataType: 'json',
      cache: false,
      contentType: false,
      processData: false,
      data: form_data,
      type: 'post',
      success: function (response) {
        console.log("Stworzono nowe zlecenie")
        window.location.reload();
      },
      error: function (response) {
        console.log("Wystąpił błąd podczas tworzenia zlecenia.");
      }
    });
  });
</script>

</div>  
{% endblock content %}
