{% extends 'frontend/base.html' %}
{% block sharefood %}
active
{% endblock %}
{% block content %}
{% if rola %}
{{ rola }}
{% if rola == 'WOLONTARIUSZ' %}
Share your food !!!

<form method="post" id="create-food">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="main_button">Submit</button>
</form>
{{dodane_jedzenie}}
{% else %}
{% for jedzen in jedzenie %}
{{ jedzen }}
{% endfor %}
{% endif %}
{% endif %}

<script>
    $(document).on('submit','#create-food',function(e){
    e.preventDefault();

    var form_data = new FormData();

    csrf_token = $('input[name="csrfmiddlewaretoken"]').val();      
    form_data.append("csrfmiddlewaretoken", csrf_token);
    form_data.append("food_name", $('#id_food_name').val());
    form_data.append("food_description", $('#id_food_description').val());
    form_data.append("food_image", $('#id_food_image').val());

    $.ajax({
      url: '/AjaxCreateFood',
      dataType: 'json',
      cache: false,
      contentType: false,
      processData: false,
      data: form_data,
      type: 'post',
      success: function (response) {
        console.log("Stworzono nowe zlecenie")
        window.location.href = '/sharefood';
      },
      error: function (response) {
        console.log("Wystąpił błąd podczas tworzenia zlecenia.");
      }
    });
  });
</script>

{% endblock content %}
