{% extends 'frontend/base.html' %}
{% block content %}
Share skills
{% if rola %}
{% if rola == 'WOLONTARIUSZ' %}
Share your skils !!!
{% endif %}

<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="main_button">Submit</button>
</form>
{% endif %}
{% endblock content %}
<script>
    $(document).on('submit','#create-item',function(e){
    e.preventDefault();

    var form_data = new FormData();

    csrf_token = $('input[name="csrfmiddlewaretoken"]').val();      
    form_data.append("csrfmiddlewaretoken", csrf_token);
    form_data.append("service_name", $('#id_service_name').val());
    form_data.append("service_description", $('#id_service_description').val());
    form_data.append("service_price", $('#id_service_price').val());
    form_data.append("service_image", $('#id_service_image').val());

    // Wysyłanie plików
    $.ajax({
      url: '/AjaxCreateSkill',
      dataType: 'json',
      cache: false,
      contentType: false,
      processData: false,
      data: form_data,
      type: 'post',
      success: function (response) {
        console.log("Stworzono nowe zlecenie")
        // window.location.href = '/home';
      },
      error: function (response) {
        console.log("Wystąpił błąd podczas tworzenia zlecenia.");
      }
    });
  });
</script>
