{% extends 'frontend/base.html' %}
{% block sharefood %}
{% load static %}
active
{% endblock %}
{% block content %}

<div id="share-container">
{% if rola %}
{% if rola == 'WOLONTARIUSZ' %}
<h3>Przekaż artykuły spożywcze</h3>

<form method="post" id="create-food" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="main_button">Dodaj</button>
</form>
<div id='map_form'></div>
    <script>
    mapboxgl.accessToken = 'pk.eyJ1IjoiZmlsaXB0ZXN0IiwiYSI6ImNrd3V5NGg1dTF1c3UydHFvN3c2aWlteWkifQ.nNJT6_rY_loc_Wa_s01wSQ'; 
    const map = new mapboxgl.Map({
      container: 'map_form',
      style: 'mapbox://styles/mapbox/streets-v12', 
      center: [17.0385, 51.1079],
      zoom: 10.5
    });
    var geolocate = new mapboxgl.GeolocateControl({
        positionOptions: {
            enableHighAccuracy: true
        },
        trackUserLocation: true
    });
    
    
    map.addControl(geolocate);
    setTimeout(function() {
    $(".mapboxgl-ctrl-geolocate").click();
},1000);
</script>
{% if dodane_jedzenie %}
    <h3 class="mt5">Moje podarowane posiłki </h3>
{% else %}
    <h3 class="mt5">Udostępnij posiłki już teraz, odkryj magie pomagania</h3>
{% endif %}

    <div class="default_card_wrapper">
    {% for dod in dodane_jedzenie %}
    <a href="{% url 'food_update' foodId=dod.food_id %}">
        <div class="default_card">
            <div class="img-card-container">
                {% if dod.food_image %}
                <img src="{{ dod.food_image.url }}" alt="">
                {% else %}
                <img src="{% static 'frontend/rzepa.jpg' %}" alt="">
                {% endif %}
            </div>
            <div class="cardtext">{{dod.food_name}}</div>
        </div>
      </a>
    {% endfor %}
</div>

{% else %}
<div class="potrzebujacy-cont">
<h3 class="mt10">Dostępne artykuły spożywcze</h3>
{% for dod in jedzenie %}
<a href="{% url 'check_food' foodId=dod.food_id %}">
  <div class="poor_card">
      <div class="img-card-container">
          {% if dod.food_image %}
          <img src="{{ dod.food_image.url }}" alt="">
          {% else %}
          <img src="{% static 'frontend/rzepa.jpg' %}" alt="">
          {% endif %}
      </div>
      <div class="cardtext">{{dod.food_name}}</div>
  </div>
</a>
{% endfor %}
</div>
{% endif %}
{% endif %}

<script>
    $(document).on('submit','#create-food',function(e){
    e.preventDefault();

    var form_data = new FormData();

    var fileInput = $('#id_food_image')[0];
    var file = fileInput.files[0];

    csrf_token = $('input[name="csrfmiddlewaretoken"]').val();      
    form_data.append("csrfmiddlewaretoken", csrf_token);
    form_data.append("food_name", $('#id_food_name').val());
    form_data.append("food_description", $('#id_food_description').val());
    form_data.append("food_image", file);

    $.ajax({
      url: '/AjaxCreateFood',
      dataType: 'json',
      cache: false,
      contentType: false,
      processData: false,
      data: form_data,
      type: 'post',
      success: function (response) {
        console.log("Stworzono nowe zlecenie")
        window.location.href = '/sharefood';
      },
      error: function (response) {
        console.log("Wystąpił błąd podczas tworzenia zlecenia.");
      }
    });
  });
</script>
</div>  
{% endblock content %}
