{% extends 'frontend/base.html' %}
{% load static %}
{% block shareitems %}
active
{% endblock %}
{% block content %}
<div id="share-container">
{% if rola %}
{% if rola == 'WOLONTARIUSZ' %}
<h3>Przekaż przedmioty</h3>

<form method="post" id="create-item" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="main_button">Submit</button>
</form>
{% if dodane_przedmioty %}
    <h3>Moje dostępnione przedmioty </h3>
{% else %}
<h3>Udostępnij przedmioty już teraz, odkryj magie pomagania</h3> 
{% endif %}
    <div class="default_card_wrapper">
    {% for dod in dodane_przedmioty %}
        <div class="default_card">
            <div class="img-card-container">
                <img src="{% static 'frontend/rzepa.jpg' %}" alt="">
            </div>
            <div class="cardtext">{{dod.item_name}}</div>
        </div>
    {% endfor %}
</div>

{% endif %}
{% endif %}

<script>
    $(document).on('submit','#create-item',function(e){
    e.preventDefault();

    var form_data = new FormData();

    csrf_token = $('input[name="csrfmiddlewaretoken"]').val();      
    form_data.append("csrfmiddlewaretoken", csrf_token);
    form_data.append("item_name", $('#id_item_name').val());
    form_data.append("item_description", $('#id_item_description').val());
    form_data.append("item_image", $('#id_item_image').val());

    // Wysyłanie plików
    $.ajax({
      url: '/AjaxCreateItem',
      dataType: 'json',
      cache: false,
      contentType: false,
      processData: false,
      data: form_data,
      type: 'post',
      success: function (response) {
        console.log("Stworzono nowe zlecenie")
        // window.location.href = '/home';
      },
      error: function (response) {
        console.log("Wystąpił błąd podczas tworzenia zlecenia.");
      }
    });
  });
</script>
</div>
{% endblock content %}
