@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
html, body {
    background-color: #FFFAE8;
    padding: 0;
    margin: 0;
    font-size: 1.1em;
    font-family: 'Inter', sans-serif;
}
a {
  text-decoration: none;
  color: black;
}

#container {
    width: 90vw;
    margin-left: 5vw;
    height: 93vh;
}

#nav {
    width: 100%;
    height: 10vh;
    font-size: 1.15em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    letter-spacing: 2px;
    margin-top: 1vh;
}

.nav_side {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    width: 30vw;
}
#footer {
    background-color: #34A853;
    height: 6vh;
    width: 100vw;
    color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.main_button {
    width: fit-content;
    padding: 1vh 4vw 1vh 4vw;
    background-color: #34A853;
    color: white;
    border-radius: 80px;
}
.green_text {
    color: #34A853;
}




@media (-webkit-min-device-pixel-ratio: 1.25) { 
    html {
        font-size: .8em !important;
    }
}