@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');
html, body {
    padding: 0;
    margin: 0;
    font-size: 1.1em;
    font-family: 'Inter', sans-serif;
}
a {
  text-decoration: none;
  color: black;
}
#logo_div {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.f {
    color: #34A853;
    font-size: 1.4em;
}
#logo_div a{ 
    font-size: 1.4em;
    color: #34A853;
}
.logo {
    padding-top: 4vh;
    width: 5em;
    height: auto;
}
#index-img-container {
    position: absolute;
    width: 60%;
    float: right;
    bottom: 6vh;
    height: 60vh;
}
.index-img { 
    position: absolute;
    bottom: 0;
    object-fit: cover;
    width: 65%;
    height: auto;
    right: -10vw;
}
#login_container label {
    font-size: 1em;
}
#login_container form {
    margin-top: 2vh;
}
#container {
    width: 70vw;
    margin-left: 15vw;
    height: 92vh;
}

#nav {
    width: 100%;
    height: 10vh;
    font-size: 1.05em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    letter-spacing: 2px;
    margin-top: 2vh;
}
#login-form .main_button {
    margin-top: 3vh;
    width: 100%;
    font-size: .9em;
}
.active {
    background-color: #34a85337;
}
.small-login {
    font-size: .8em;
    margin-top: .5vh;
}
.nav_side {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    width: 28vw;
}
h3, h2 {
    letter-spacing: 2px;
    color: #34A853
}
.org-inner {
    width: 100%;
    display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: space-between;
align-items: flex-start;
align-content: flex-start;
}
#share-container {
    margin-top: 5vh;
    width: 100%;
    
}
.eventscon {
    margin-top: 6vh !important;
}
.floatleft {
    width: 36%;
    font-size: 1.3em;
    line-height: 1.2em;
    margin-top: 9vh;
    position: relative;
}
.nomb {
    margin-bottom: 1vh !important;
    margin-top: 0vh !important;
}
.floatleft::before {
    content: "";
    position: absolute;
    top: -4.9vh;
    width: 100%;
    z-index: -1;
    height: 100%;
    left: -3vw;
    background-color: #d3e8c9;
    padding: 6vh;
    border-top-right-radius: 400px;
    border-top-left-radius: 200px;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 300px;
}

#map {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-top: 5vh;
    height: 60vh;
    width: 40vw;
    float: right;
}
#create-food, #create-item, #create-skills {
    float: left;
    width: 70%;
    height: 37vh;
}
#map_form {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    height: 60vh;
    width: 30%;
    float: right;

}
#lista-wydarze-container {
    width: 40%;
    float: left;
}
.listmarker {
    width: 7%;
    margin-right: 1vw;
}.marker {
    width: 30px;      /* Width of the marker */
    height: 30px;     /* Height of the marker */
    background-image: url("https://htmlstream.com/preview/front-v3.2/assets/svg/components/map-pin.svg");
    cursor: pointer; /* Add a pointer cursor on hover */
}
.inside {
    overflow: hidden;
    height: 0px;
    transition: all 0.5s ease;
    background-color: #fff;
    width: 70%;
    padding: 2vh 10% 2vh 10% ;
}
.openedElement {
    height: 100px !important;
}

.openedElement {
    height: 100px !important;
}
.list_event_name {
    width: 80%;
}
.lista-wydarze-item {
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    transition: all 0.5s ease;
    cursor: pointer;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    width: 70%;
    padding: 2vh 10% 0vh 10% ;
    height: 50px;
    display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: flex-start;
align-items: center;
align-content: center;
}
#org-container {
    margin-top: 5vh;
    width: 100%;
    display: flex;
flex-direction: column;
flex-wrap: wrap;
justify-content: space-between;
align-items: flex-start;
align-content: flex-start;
}
#footer {
    background-color: #34A853;
    height: 6vh;
    width: 100vw;
    color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.potrzebujacy-cont {
    width: 100%;
}
.mt5 {
    display: block;
}
.mt10 {
    margin-top: 5vh;
}
.mt6 {
    display: block;
    float: left;
    width: 40%;
    margin-top: 8vh;
}
.main_button {
    width: fit-content;
    padding: 1vh 4vw 1vh 4vw;
    background-color: #34A853;
    color: white;
    border-radius: 80px;
    border: none;
    font-size: 1.1em;
    text-align: center;
    transition: all .5s ease;
    cursor: pointer;
    pointer-events: auto;
    z-index: 9;
}
.main_button:hover {
    background-color: #34a85337 !important;

}

.outlineborder {
    border: 2px solid #34A853;
}
.nav_side a {
    /* border: 2px solid #34A853; */
    padding: 1vh 1vw 1vh 1vw;
    transition: .2s ease;
    border-radius: 80px;
}

.nav_side a:hover {
    background-color: #34a85337;
}
.green_text {
    color: #34A853;
}
.q {
    font-style: italic;
    position: relative;
    display: block;
    width: 70%;
    margin-top: 7vh;
    text-align: center;
    display: block;
    letter-spacing: 2px;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.2em;
    z-index: 3;
}
#index-container {
    margin-top: 8vh;
    width: 100%;
}
.index-text {
    font-size: 1.5em;
    line-height: 1.4em;
}
#index-text-container {
    margin-top: 1vh;
    float: left;
    width: fit-content;
}
#index-text-container .main_button {
    margin-top: 1vh;
    font-size: 1.2em;
    width: auto;

}
#login_container {
    font-size: 1.2em;
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

input {
    display: block;
    width: calc(90% - 20px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    color: #333;
    transition: border-color 0.3s ease;
}
input:focus {
    border-color: #34A853;
    outline: none;
}
.default_card, .poor_card {
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    /* border: 2px solid #34a85337; */
    width: fit-content;
    float: left;
    margin-right: 1vw;
    margin-bottom: 1vh;
    color:#34A853;
    position: relative;
}
.poor_card {
    cursor: pointer;
}
.default_card .img-card-container {
    height: 8vw;
    margin-bottom: 1vw;
    width: 6vw;
    border-radius: 3px;
    overflow: hidden;
    text-align: center;
}
.default_card .img-card-container img{ 
    width: 100%;
    height: 100%;
    object-position: center ;
    object-fit: cover;
}
.poor_card .img-card-container {
    height: 10vw;
    margin-bottom: 1vw;
    width: 10vw;
    border-radius: 3px;
    overflow: hidden;
    text-align: center;
}
.poor_card .img-card-container img{ 
    width: 100%;
    height: 100%;
    object-position: center ;
    object-fit: cover;
    border-radius: 30px;
}
.found_card  {
    float: left;
    margin-right: 3vw;
    text-align: center;
    font-size: 1.2em;
}
.found_card .img-card-container {
    height: 10vw;
    margin-bottom: 1vw;
    width: 10vw;
    border-radius: 100%;
    overflow: hidden;
    text-align: center;
}
.found_card .img-card-container img{ 
    width: 100%;
    height: 100%;
    object-position: center ;
    object-fit: cover;
}
.cardtext {
    width: 100%;
    text-align: center;
}

@media (-webkit-min-device-pixel-ratio: 1.25) { 
    html {
        font-size: .8em !important;
    }
}
