@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
html, body {
    background-color: #FFFAE8;
    padding: 0;
    margin: 0;
    font-size: 1.1em;
    font-family: 'Inter', sans-serif;
}
a {
  text-decoration: none;
  color: black;
}
#logo_div {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}
#logo_div a{ 
    font-size: 1.4em;
    color: #34A853;
}
.logo {
    padding-top: 4vh;
    width: 5em;
    height: auto;
}
#index-img-container {
    position: relative;
    width: 60%;
    float: right;
    height: 50vh;
}
.index-img { 
    position: absolute;
    bottom: 0;
    object-fit: cover;
    width: 80%;
    height: auto;
    right: 0;
}
#login_container label {
    font-size: 1em;
}
#login_container form {
    margin-top: 2vh;
}
#container {
    width: 70vw;
    margin-left: 15vw;
    height: 92vh;
}

#nav {
    width: 100%;
    height: 10vh;
    font-size: 1.05em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    letter-spacing: 2px;
    margin-top: 2vh;
}
#login-form .main_button {
    margin-top: 3vh;
    width: 100%;
    font-size: .9em;
}
.active {
    background-color: #34a85337;
}
.small-login {
    font-size: .8em;
    margin-top: .5vh;
}
.nav_side {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    width: 28vw;
}
#footer {
    background-color: #34A853;
    height: 6vh;
    width: 100vw;
    color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.main_button {
    width: fit-content;
    padding: 1vh 4vw 1vh 4vw;
    background-color: #34A853;
    color: white;
    border-radius: 80px;
    border: none;
    font-size: 1.1em;
    text-align: center;
}
.nav_side a {
    border: 2px solid #34A853;
    padding: 1vh 1vw 1vh 1vw;
    border-radius: 80px;
}
.green_text {
    color: #34A853;
}
.q {
    font-style: italic;
    position: relative;
    display: block;
    width: 60%;
    margin-top: 7vh;
    text-align: center;
    display: block;
    letter-spacing: 2px;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.2em;
    z-index: 3;
}
#index-container {
    margin-top: 8vh;
    width: 100%;
}
.index-text {
    font-size: 1.5em;
    line-height: 1.4em;
}
#index-text-container {
    float: left;
    width: fit-content;
}
#index-text-container .main_button {
    margin-top: 1vh;
    font-size: 1.2em;
    width: auto;

}
#login_container {
    font-size: 1.2em;
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

input {
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    color: #333;
    transition: border-color 0.3s ease;
}
input:focus {
    border-color: #34A853;
    outline: none;
}

@media (-webkit-min-device-pixel-ratio: 1.25) { 
    html {
        font-size: .8em !important;
    }
}
